*   {
    background-color: #1A1A1A;
    font-family: 'Roboto', Arial, sans-serif;
    color: #FFF9E8;
    text-decoration: none;
}

body {
    text-align: center;
}

.container  {
    margin: 0 5%;
}

.headingpic  {
    text-align: center;
    padding: 2em;
    font-size: 3em;
    font-weight: 800;
    background-image: url(maxresdefault.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-shadow: 2px 2px 40px #000;
    margin-bottom: 10px;
}

h2  {
    margin: 40px;
}

h3  {
    margin: 50px;
}

p   {
    margin: 40px;   
}

.spacer {
    padding: 20px;   
}

#listspacing {
    margin-top:40px;
    margin-bottom: 10px;
    font-size: 25px;
}

.pfix    {
    margin: 0px;   
}


#divstruc   {
    font-size: 35px;
}

/* Nav Bar */

nav  {
    list-style: none;
    padding: 0;
    display: flex;
}

nav a   {
    text-align: center;
    margin: auto;
    vertical-align: middle;
    background-color: #2B2B2B;
    font-size: 15px;
    text-decoration: none;
    width: 20%;
    border: solid 1px #FFF9E8;
    margin: 1.5px;
    background-color: #2B2B2B;
    
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.navbar {
    background-color: #2B2B2B;
    color: white;
    padding: 15px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border: solid 1px #FFF9E8;
}

.navbar:hover   {
    background-color: #06456B;
    font-weight: bold;
}


#currentpage    {
    background-color: #06456B;
}

#joingbpf   {
    background-color: #912F3A;
}

/* Dropdown menu on nav bar */

.dropdown   {
    text-align: center;
    margin: auto;
    vertical-align: middle;
    background-color: #2B2B2B;
    font-size: 15px;
    text-decoration: none;
    width: 20%;
    border: solid 1px #FFF9E8;
    margin: 1.5px;
    background-color: #2B2B2B;
    
    position: relative;
    display: inline-block;
    cursor: pointer;
}


.content   {
    display: none;
    position: absolute;
    background-color: #FFF9E8;
    width: 100%;
    min-width: 100px;
    z-index: 1;
}

.content a  {
    padding: 15px 15px;
    text-decoration: none;
    margin: 0px;
}

.dropbtn    {
    background-color: #2B2B2B;
    color: white;
    padding: 15px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.content a {
    color: black;
    padding: 13px 16px;
    text-decoration: none;
    display: block;
    background-color: #2B2B2B;
    color: #FFF9E8;
    width: auto;
}

.content a:hover {
    background-color: #06456B;
    font-weight: bold;
}

.dropdown:hover .content   {
    display: block;
}

.dropdown:hover .dropbtn    {
    background-color: #06456B;
    font-weight: bold;
}


/* Button animation */

.button {
    margin: 5px;
}

.button a   {
    display: block;
    padding: 10px;
    width: 5em;
    background-color: #2B2B2B;
    border: 1px solid #F2F2F2;
}

.buttonmove   {
    margin: auto;
}

.button a:hover   {
    background-color: #06456B;
    font-weight: bold;
}

.button a:active  {
    transform: translateY(2px);
}

.map    {
    margin: 30px;
}

.divbuttons {
    display: inline-block;
}


#button1, #button2    {
    display: inline-block;
}


/* Divisional structure resize img */

#divimg img {
    width: 55%;
}


/*Calendar responsive*/

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Logos on home page*/

.logo   {
    display: inline-block;
}

#logo1, #logo2  {
    display: inline-block;
}

#logo1   {
    margin-right: 40px;
}

#logo2  {

    margin-left: 40px;
} 
   
.logo div img  {
    width: 400px;
    height: 170px;
}



/*Under Contruction Page*/

#underconstruction   {
    font-size: 100px;   
}

/*Footer*/

footer  {
    margin-top: 20px;
    margin-bottom: 20px;
}

.floatleft  {
    text-align: left;
}

footer img  {
    width: 4%;
}